<tr id="<%= dom_id(article) %>">
  <td><%= article.title %></td>
  <td>
    <%= link_to "Show", admin_article_path(article)%>
    <%= link_to "Edit", edit_admin_article_path(article) %>
    <%= button_to "Delete", admin_article_path(article),  data: { turbo_confirm: "VAMONO"}, method: :delete %>
  </td>
</tr>