<% content_for :head do %>
  <title>Blog</title>
  <%= stylesheet_link_tag "post" %>
<% end %>

<div>
  <p style="color: green"><%= notice %></p>

  <h1>Blog</h1>

  <%= turbo_frame_tag "posts" do %>
    <ul class="posts">
      <% @articles.each do |article| %>
        <% cache article do %>
          <%= render article %>
        <% end %>
      <% end %>

    </ul>
  <% end %>
  <%# Render a view helper in your views (skipping nav links for empty pages) %>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>

</div>
