<% content_for :head do %>
  <title>Blog</title>
  <%= stylesheet_link_tag "post" %>
<% end %>

<div class="post">
  <p id="notice"><%= notice %></p>

  <h1><%= @article.title %></h1>
  <hr/>

  <div>
    <%= @article.markdown.html_safe %>
  </div>

  <%= link_to "Back", blog_path %>
</div>
