<% @nav_links = [{ name: "Home", path: root_path }, { name: "Blog", path: blog_path }] %>
<% @admin_nav_links = [{ name: "Articles", path: admin_articles_path }] %>

<header data-controller="navbar" class="flex relative justify-between items-center">
  <div class="flex justify-between items-center w-full">
    <%= link_to application_title, root_path, class: "font-semibold text-xl" %>
    <button class="mobile-menu-button" data-action="click->navbar#toggleMenu" aria-label="Toggle menu">
      <%= render_icon "hamburger", classes: "w-12" %>
    </button>
  </div>

  <nav data-navbar-target="menu" class="nav-menu">
    <ul class="nav-list">
      <% (controller.controller_path.include?("admin/") ? @admin_nav_links : @nav_links ).each do |link| %>
        <li>
          <%= link_to_unless_current(link[:name], link[:path]) do %>
            <span class="current">
              <span class="visuallyhidden">Current Page:</span>
              <%= link[:name] %>
            </span>
          <% end %>
        </li>
      <% end %>

      <li>
        <%= render_icon "youtube", classes: "m-auto w-12" %>
      </li>

      <% if !authenticated? %>
        <li>
          <%= link_to "Admin", admin_articles_path, class: "nav-item" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
